h3 Congrats #{user.name}!
p
  | We are happy to tell you that your the train #{train.name} from #{from.name} to #{to.name} the #{train.departure} has reached enough bookings to form a table.
  | You can now confirm your booking. Don't worry, we will not charge you until your seat is ensured!
